---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="page-content">
    <div class="container">
      <h2>Our Shop</h2>
      <p>
        Explore our selection of fresh spring onions and crisp lettuces, all
        sourced directly from our farms to ensure the highest quality for your
        culinary needs.
      </p>
    </div>
  </section>
</Layout>
